.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar {
    background-color: #003F5C !important;
    color: #ffffff;
}
.nav-link {
    color: #ffffff !important;
}
.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
}
.content {
     padding-top: 80px ;
}
.footer {
    text-align: center;
    background-color: #0b3144;
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
button {
    background-color: #003F5C;
    box-shadow: none !important;  
    border: 1px solid rgba(255, 255, 255, 0.504);
    color: white;
    padding: 10px;
    transition: 0.8s;
}
button:hover {
    background-color: tomato;
}